{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h1>
        Contact
        </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6"> 
{{ form_start(form) }} 

{{ form_row(form.Name, {'attr': {'placeholder': "Entrer votre Nom"}}) }}
{{ form_row(form.FirstName, {'attr': {'placeholder' : "Entrer votre Prenom"}}) }}
{{ form_row(form.Mail, {'attr': {'placeholder' : "Entrer votre Email"}}) }}

{{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
