<!DOCTYPE html>
<html>
    <head>
        <lang="fr">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Open Graph data -->
        <meta name="description" content="Portfolio developpeur Web"/>
        <link rel="canonical" href="http://alliaumen.com/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Portfolio Nicolas-A" />
        <meta property="og:description" content="Portfolio présentant l'ensemble de mes compétences ainsi que les projets effectués dans le Developpement Web" />
        <meta property="og:url" content="http://alliaumen.com/" />
        <meta property="og:site_name" content="Portfolio Nicolas-A" />

        <!-- Twitter cards -->

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Portfolio présentant l'ensemble de mes compétences ainsi que les projets effectués dans le Developpement Web" />
        <meta name="twitter:title" content="Portfolio Nicolas-A | Compétences et projets personnel dans le developpement web" />
        <meta name="twitter:site" content="@PortfolioNA" />
        <meta name="twitter:image" content="https://blog.octopulse.io/wp-content/uploads/2019/05/logo-seul-couleur@2x-e1556899421228.png" /> 

        <title>{% block title %}Projet5!{% endblock %}</title>
        {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/style.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/projects.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/modo-accueil.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/skills.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/contact.css') }}" />

        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Philosopher&family=Roboto&family=Crete+Round&family=Dosis:wght@600&family=Merienda:wght@700&family=Yusei+Magic&family=Vollkorn&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/accueil/profil.js') }}"></script>
        <script src="{{ asset('js/accueil/slider.js') }}"></script>
        <script src="{{ asset('js/accueil/contact.js') }}"></script>
        <script src="{{ asset('js/accueil/presentation.js') }}"></script>
        <script src="{{ asset('js/skill/skills.js') }}"></script>
        {% endblock %}
    </head>
    <body id="body">
            {% block body %}
            {% endblock %}
            {% block javascripts %}{% endblock %}
            
            <script src="{{ asset('js/portfolio/deleteCom.js') }}"></script>
            <script src="{{ asset('js/portfolio/banIp.js') }}"></script>
    </body>
    <footer>
            {% block footer %}{% endblock %}
    </footer>
</html>
