{% include 'main/menu.html.twig' %} 
{% include 'main/template.html.twig' %}
{% block body %}
<div class="mt-5" id="block_portfolio">
                    <div class="row">
                        <div class="col" id="para_portfolio">
                            <p> Ici sont présentés les projets effectués par moi même. Constatez par vous même en vous rendant directement sur un projet. N'hésitez pas à selectionner une carte projet pour afficher son contenu sur le panneau. En bas du panneau sont détaillées les compétences utilisés</p>
                            <div class="col-lg-12" id="block_project_card">
                                <div id="projects_cards">

                                    {% for project in projects %}

                                    <div class="project_card">
                                        <div class="project_content">
                                            <div class="d-flex flex-column-reverse">
                                                <h6> {{ project.title }} </h6>
                                                <img src="{{ vich_uploader_asset( project, 'imageFile') | imagine_filter('medium_thumb')}}" alt="">
                                            </div>
                                            <div class="para_cards">
                                                <p> {{ project.description }} </p>
                                                <p> {{ project.skills }} </p>
                                            </div>
                                            <div class="card_link">
                                                <a href="{{ project.link }}" class="text-white"> voir la page projet </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                            </div>
                        
                        <div class="col d-flex m-auto block_slides">

                            {% for project in projects %}

                            <div class="panel_project">
                                <div class="description_project">
                                    <div class="">
                                        <div class="col-lg-12">
                                            <h4>{{ project.title }}</h4>
                                        </div>
                                        <div class="col-lg-12">
                                            <p> {{ project.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="project">
                                    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('slider_thumb')}}" alt="image projet">
                                </div>
                                <div class="skills_project"> 
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p> <span>Compétences utilisées :</span> {{ project.skills }}</p>
                                        </div>
                                    </div>    
                                </div>
                                <div class="project_link">
                                        <a href="{{ project.link }}" class="text-white"> voir le site </a>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>

                    

                            {% endfor %}

                        </div>
                    </div>            
                </div>
{% include 'main/footer.html.twig' %}

{% endblock %}
