{% extends 'base.html.twig' %}

{% block body %}
{% include 'main/template.html.twig' %}
<div id="block_portfolio">
                    <div class="row mb-2">
                        <div class="col-lg-8 offset-lg-3">                            
                        <p class="text-white"> Ici sont présentés les projets effectués par moi même. Constatez par vous même en vous rendant directement sur un projet. N'hésitez pas à selectionner une carte projet pour afficher son contenu sur le panneau. En bas du panneau sont détaillées les compétences utilisés</p>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-lg-8 offset-lg-3 d-flex block_slides">
                            {% for project in projects %}
                            <div class="panel_project">
                               
                                <div class="project">
                                    <img src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('slider_thumb')}}" alt="image projet">
                                </div>
                                <div class="project_link">
                                        <a href="{{ project.link }}" class=""> voir le site </a>
                                </div>
                                <p> {{ project.description }}</p>                           
                                <div class="opacity-description">
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="row" id="row_project_card">
                        <div class="col-lg-8 offset-lg-4" id="block_project_card">
                                <div id="projects_cards">

                                    {% for project in projects %}
                                    
                                    <div class="project_card">
                                    <div class="opacity_cards"></div>
                                        <div class="project_content">
                                            <div class="d-flex flex-column-reverse">
                                                <h6> {{ project.title }} </h6>
                                                <img src="{{ vich_uploader_asset( project, 'imageFile') | imagine_filter('small_thumb')}}" alt="">
                                            </div>
                                            <div class="para_cards">
                                                <p> {{ project.description }} </p>
                                                <p> {{ project.skills }} </p>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>  
</div>          
{% include 'main/footer.html.twig' %}

{% endblock %}
