{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    <nav id="sidebar">
    {% include 'main/aside.html.twig' %}
    </nav>
    <div class="content">
        <section class="project_page">
            <div class="container">
                <h1>{{ portfolio.title }}</h1>
                <p> {{ portfolio.description }}</p>
                <figure>
                <img src="{{ vich_uploader_asset( portfolio, 'imageFile') | imagine_filter('slider_thumb')}}" alt="image projet">
                <figcaption>Compétences utilisées : {{ portfolio.skills }}</figcaption>
                </figure>
            </div>
        </section>
        <hr>
        <section id="comment_block">
            <div class="container col-lg-10" id="comment_whrite">
                <h1> Commentaires </h1>
                <form action="{{ path('portfolio', {'id' : portfolio.id}) }}" method="post">
                    <div class="form-group">
                        <label for="author">Nom :</label>
                        <input class="form-control" type="text" name="author" required/>
                    </div>    
                    <div class="form-group">    
                        <label for="comment">Comment :</label>
                        <textarea class="form-control" rows="5" name="comment" id="comment" required></textarea>
                    </div>
                    <div class="form-group">
                        {% if ip == ipBan %}
                        <input type="submit" name="submit" value="envoyer" disabled>
                        <p class="text-danger"> Vous n'êtes pas autorisé à commenter </p>
                        {% else %} 
                        <input type="submit" name="submit" value="envoyer">
                        {% endif %}
                    </div>
                </form>
            </div>
            <hr>
            <div class="container col-lg-10" id="comments"> 
                {% for comment in comments %}
                    {% if comment.portfolio == portfolio %}
                    <div class="row comment" id="{{ comment.id }}">
                        <div class="col-lg-12" id="author_comment">
                            <p>Posté par <strong>{{ comment.author }}</strong> le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}h </p>
                        </div>
                        <div class="col-lg-12" id="content_comment">
                            <p>{{ comment.content }} </p>
                        </div>
                        {% if is_granted('ROLE_MODO') %}
                        <div class="form-group" id="moderate-buttton">
                            <div class="delete-com" onclick="deleteCom({{ comment.id }}, {{ portfolio.id }})">
                                <input type="button" class="btn btn-primary" value="Supprimer">
                            </div>
                            <div class="moderate" onclick="banIp({{ comment.id }}, {{ portfolio.id }})">
                                <input type="button" class="btn btn-primary" value="Bannir l'IP">
                            </div>
                        </div>
                        {% endif %}
                    </div>     
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}
